# German Loan Data

## Instructions

### Banking: Loan Approval Case
In this use case, each entry in the dataset represents a person who takes a credit loan from a bank. The learning task is to classify each person as either a good or bad credit risk according to the set of attributes.

You can find the data `german_credit_data.csv` saved under the [data](../data) folder:<br>
NOTE: At this point, **DO NOT check the reference website**
- Looking into the data using appropriate functions and extract the fields in the data.
- For each data, describe what the data is about and what fields are saved.
    - Which column contain continuous variables and which columns contain categorical variables?    

You need to answer the questions and perform the task below:
- What are mean age, mean credit amount, and duration?
- What are the major three purpose of loan?
- What is the majoriry loan taker? Male of female?

Note:
- You are NOT ALLOWED to import other library or package
- You can write you own functions
- Your answers should be readable with approprate comments
- You can refer to [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) if you are not familar with Markdown

### Reference
This dataset was sourced from Kaggle: https://www.kaggle.com/uciml/german-credit

The original source is: https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29

## Import libraries

In [3]:
# Usual libraries are imported here
import os
import yaml
import dask.dataframe as dd
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Please perform your tasks below and answer the questions

The "german_credit_data.csv" table contains some credit information of the loan takers in German, incluing the age, sex, job, housing state, svaing accounts, checking accounts, credit amount, duration and purpose of loan. Among these columns, the "Age", "Credit amount" and "Duration" columns contain continuous variables and the rest columns contain categorical variables.

In [8]:
source_data=pd.read_csv('../data/german-credit/german_credit_data.csv',index_col=0)
source_data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [9]:
#question 1
Age=source_data["Age"]
credit_amount=source_data["Credit amount"]
duration=source_data["Duration"]
mean_age=np.mean(Age)
mean_credit_amount=np.mean(credit_amount)
mean_duration=np.mean(duration)
print("The mean age is {}.".format(mean_age))
print("The mean credit amount is {}.".format(mean_credit_amount))
print("The mean duration is {}.".format(mean_duration))

The mean age is 35.546.
The mean credit amount is 3271.258.
The mean duration is 20.903.

In [14]:
#question 2
Purpose=source_data["Purpose"]
purpose_descend=Purpose.value_counts()    # Calculate the frequency of different data in Purpose column, then arrange them in descending order.
print("The major three purpose of loan are:")
for i in purpose_descend.keys()[:3]:
    print(i)

The major three purpose of loan are:
car
radio/TV
furniture/equipment

In [16]:
#question 3
Sex=source_data["Sex"]
x=Sex.value_counts()    # Calculate the number of 'male' and 'female' in Sex column, then arrange them in descending order.
print(" The majoriry loan taker is {}.".format(x.keys()[0]))

 The majoriry loan taker is male.